@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

 img{
    border-radius: 50%;
    max-height: 50px;
}


